# Created by .ignore support plugin (hsz.mobi)
### Scala template
*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
.settings/
.classpath
.project

### PlayFramework template
# Ignore Play! working directory #
bin/
/db
.eclipse
/lib/
/logs/
/modules
/project/project
/project/target
/target
tmp/
test-result
server.pid
*.iml
*.eml
/dist/

### Common files and project specific
.DS_Store
.idea/
frontend/.DS_Store
node_modules/
bower_components